.admin {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.panels {
  display: flex;
  flex: 1;
}

.colPanels {
  flex: 1;
  padding: 10px;
  border-right: 1px solid black;
}

.bottomPanel {
  flex: 1;
  padding: 10px;
  border-top: 1px solid black;
}

